<%= bootstrap_alert(:info , flash[:notice]) if flash[:notice].present? %>
<%= bootstrap_alert(:error, flash[:alert ]) if flash[:alert ].present? %>

<h1>Sorry to see you go</h1>

<% if @notification %>
<p>
  Did you by chance unsubscribe by mistake?  No worries!
  <%= form_tag unsubscribe_path(id: @notification.id), method: :delete do %>
    <%= hidden_field_tag 'u', target_user.id %>
    <%= hidden_field_tag 't', target_user.sign_action(:subscribe, 'u' => target_user.id, 'n' => @notification.id) %>
    <%= button_tag 'Re-subscribe', class: "btn btn-large bt-success" %>
  <% end %>
</p>
<% end %>
