<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8" />

  <title>Pickoff - Sports Pick 'em Game with Friends</title>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body<%= " id=\"#{@page_id}\"".html_safe if @page_id %> class="standalone">
  <!-- container -->
  <div class="container canvas">
    <%= yield %>
    <div id="footer">
      <ul>
        <li><%= link_to 'Terms', fb_app_url('/terms'), target: '_top' %></li>
        <li><%= link_to 'Privacy Policy', fb_app_url('/privacy'), target: '_top' %></li>
      </ul>
    </div>
  </div>
  <!-- container -->

  <%= javascript_include_tag "application" %>
  <%= render 'shared/ga' %>
</body>
</html>

